@using AE.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body style="padding: 0 0 0 0">

    <ul style="margin-bottom:0; text-align:justify; justify-content:space-around; font-size:larger; position:fixed; width:100%; padding-left:20%; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <li><a href="@Url.Action("ShowProducts", "ShowProducts")" style="color:white; text-decoration:none">Products</a></li>
        <li><a href="@Url.Action("ShowCart", "Cart")" style="color:white; text-decoration:none">Cart</a></li>
        <li><a class="active" href="@Url.Action("ShowOrders", "Order")" style="color:white; text-decoration:none">Orders</a></li>
        <li><a href="@Url.Action("Add", "Product")" style="color:white; text-decoration:none">Add product</a></li>
    </ul>
    @{List<Carts_jnl> orders = HttpContext.Current.Session["Orders"] as List<Carts_jnl>; }
    @{List<Product> products = HttpContext.Current.Session["Products"] as List<Product>; }
    @{List<Cart_products_jnl> cpjs = HttpContext.Current.Session["Cpj"] as List<Cart_products_jnl>; }
    <div style=" padding-left:20%; padding-top:5%; padding-right:20%; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; height:auto">
        @foreach (Carts_jnl order in orders)
        {
            <div style="border:solid; margin:auto; display:block; height:auto; margin-bottom:20px; padding-bottom:10px">
                <div style="text-align:center; font-size:x-large;padding-bottom:20px">
                    Order Info
                </div>
                <div style="display:flex; justify-content:space-around;">
                    <div>
                        Order date: @order.Date.Day/@order.Date.Month/@order.Date.Year
                    </div>
                    <div>
                        Invoice number: @order.Invoice_number
                    </div>
                </div>
                <div style="text-align: center; font-size: larger; padding-bottom:20px; padding-top:10px">
                    Products info
                </div>

                @foreach (Cart_products_jnl cpj in cpjs)
                {
                    if (cpj.Cart_id == order.Cart_id)
                    {
                        <div style="height:100%;">
                            @foreach (Product product in products)
                            {
                                if (cpj.Product_id == product.Product_id)
                                {

                                    <div style="display:flex; justify-content:space-between; padding-left:50px; padding-right:50px">
                                        <div style="padding-bottom:5px; padding-top:5%">
                                            @product.Name @product.Brand @product.Model
                                        </div>
                                        <div>
                                            <img src="data:image; base64,@System.Convert.ToBase64String(product.Photo)" alt="Product photo" style="height:100px;width:100px; cursor:pointer; justify-content:center" />
                                        </div>
                                        <div style="padding-top:5%">
                                            Price: @product.Price $
                                        </div>
                                    </div>

                                }

                            }
                        </div>

                    }
                }
                <hr />
                <div style="text-align:right; padding-right:50px">
                    Total price: @order.Total_price $
                </div>
            </div>
        }

    </div>
</body>
</html>

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}